
body {
	font-family: Arial;
	color: #211a1a;
	font-size: 0.9em;
	margin: 0;
background: url("bgd1.jpg");
background-size: cover;
background-repeat: no-repeat;
}
.content{
	margin-top: 100px;
	margin-bottom: 200px;
}
#shopping-cart {
	margin: 40px;
}
a{
	text-decoration: none;
}
.page-header{
	display: flex;
    background-color: #0A2558;
    color: white;
    margin: 0;
    position: fixed;
    top: 0;
    width:100%;
    height: 50px;
    align-items: center;
    justify-content: flex-end;

}
.nav{
    float: right;
    
    
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    margin-right: 20px;
    list-style: none;
}
.nav a{
    background: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

li:hover{
    outline: 0;
}

a {
    text-decoration: none;
}
a:focus, a:hover {
   
}
a:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}
.footer{
    position: fixed;
    bottom: 30px;
    width: 100%;
    text-align: center;
    background-color: lightgrey;
    color: white;
}
.purchase-btn{
	background-color:#5593E5;
    color: #fff;
    display: inline-block;
    padding: 6px 50px;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    max-width: 250px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    float: none;
    border-radius: 15px;
}
.product-row{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-width: 400px;
	box-sizing: border-box;
    margin-left: 0 !important;
}
#product-grid {
	margin-left:3px;
}
#shopping-cart {
	margin-left: 3px !important;
}
#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}

.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
}

#btnEmpty {
	background-color: #E3EFFF;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}
#btnEmpty:hover{
	background-color: #A8CAF7;
	color: white;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}
.products{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.product-item {
	background: #ffffff;
	margin: 30px 30px 0px 0px;
	border: #E0E0E0 1px solid;
	width: 350px;
	border-radius: 8px;
}

.product-image {
	height: 350px;
	width: 350px;
	background-color: #FFF;

}
.product-image img{
	border-radius: 8px;
}
.product-des{
	opacity: 0.8;
	font-size: 14px;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tbl-cart {
	font-size: 0.9em;
}

.tbl-cart th {
	font-weight: normal;
}

.product-title {
	margin-bottom: 20px;
	font-size: 19px;
	font-weight: bold;
	opacity: 0.8;
}

.product-price {
	margin-top: 20px;
	opacity: 0.8;
	font-size: 16px;
}

.cart-action {
	margin-top: 20px;
	width: 100%;
display: flex;
flex-direction: row;
}
.cart-action input[type="submit"]{
	width: 200px;
	height: 40px;
	background-color: royalblue;
	text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 10px;
border: #E0E0E0 1px solid;
    color: white;
    margin-left:10px;

}

.product-quantity {
		height: 40px;
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.cart-item-image {
	width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}

@media only screen and (max-width: 400px) {
 .products {
    flex-direction: column;
  }
  .product-item{
  	overflow-x: auto;
    white-space: wrap;
    margin: 0;
  }
  body{
  	margin: 0;
  }
  .product-item {
	background: #ffffff;
	margin: 30px 30px 0px 0px;
	border: #E0E0E0 1px solid;
	width: 100%;
	border-radius: 8px;
}

.product-image {
	height: 330px;
	width: 100%;
	background-color: #FFF;

}
#product-grid {
	margin-left:3px;
}
}
@media only screen and (min-width: 400px) {
 .products {
    flex-direction: column;
  }
  .product-item{
  	overflow-x: auto;
    white-space: wrap;
    margin: 0;
  }
  body{
  	margin: 0;
  }
.product-item {
	background: #ffffff;
	margin: 30px 30px 0px 0px;
	border: #E0E0E0 1px solid;
	width:95%;
	border-radius: 8px;
}

.product-image {
	height: 380px;
	width: 100%;
	background-color: #FFF;

}
#product-grid {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 6px;

}
}
@media only screen and (min-width: 450px) {
 .products {
 	flex-direction: row;
  }
  .product-item{
  	overflow-x: auto;
    white-space: wrap;
    margin: 0;
  }
  body{
  	margin: 0;
  }
.product-item {
	background: #ffffff;
	margin-top: 30px;
	margin-right: 20px;
	border: #E0E0E0 1px solid;
	width:300px;
	border-radius: 8px;
}

.product-image {
	height: 300px;
	width: 300px;
	background-color: #FFF;

}
#product-grid {
  display: flex;
  justify-content: flex-start;
}
}